<div class="toggleWrapper">
    <input type="checkbox" class="dn" id="theme-toggle" onclick="modeSwitcher()" checked />
    <label for="theme-toggle" class="toggle">
    <span class="toggle__handler">
    </span>
    </label>
</div>
<script type="text/javascript">
const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');
const theme = "dark";

document.documentElement.setAttribute('data-theme', 'dark');
activateDarkTheme();

function activateDarkTheme() {
    document.getElementById('theme-toggle').checked = true;
    document.documentElement.setAttribute('data-theme', 'dark');
    document.documentElement.classList.add('theme--dark');
    document.documentElement.classList.remove('theme--light');
	document.getElementById("theme-toggle").className = 'light';
	window.localStorage.setItem('theme', 'dark');
}
</script>